body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

  background-image: url("../img/serre.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card {
  max-width: 600px;
  margin: 80px auto;
  background: rgba(255, 255, 255, 0.95);
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h1 {
  margin-top: 0;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 12px;
  font-size: 16px;
  width: 100%;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}

pre {
  background: #f4f4f4;
  padding: 12px;
  border-radius: 8px;
}
