<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Prédiction à partir du modèle</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <!-- ===== LOGOS ===== -->
  <div class="top-logos">
    <img src="{{ url_for('static', filename='img/logolabo.png') }}" alt="Logo labo" class="logo-labo">
    <img src="{{ url_for('static', filename='img/logoprojet.png') }}" alt="Logo projet" class="logo-projet">
    <img src="{{ url_for('static', filename='img/logounif.png') }}" alt="Logo université" class="logo-unif">
  </div>

  <!-- ===== CONTENU ===== -->
  <div class="container">
    <h1>Prédiction à partir du modèle</h1>

    <form class="form">
      <input type="text" placeholder="NO3 consommé">
      <input type="text" placeholder="Eau consommée">
      <input type="text" placeholder="Diamètre">
      <input type="text" placeholder="Hauteur">
      <button type="button">Lancer le modèle</button>
    </form>

    <pre>Résultats</pre>
  </div>

</body>
</html>
